.DS_Store
.project
.settings/*
*.ldb
*.log
test/testchain/geth.ipc
test/testchain/history
test/testchain/geth/ethash/*
test/testchain/geth/chaindata/*
test/testchain/geth/nodes/*
test/testchain/geth/nodes/CURRENT
test/testchain/geth/nodes/LOG
test/testchain/geth/LOCK
test/testchain/geth/nodekey
private/*
